    body {
        width: 100%;
        color: #333;
        font-family: Tahoma, Geneva, sans-serif;
    }

    .enterPage {
        cursor: pointer
    }

    .main {
        margin: 15px;
    }

    .main img {
        text-align: center
    }

    .main p {
        margin-right: 15px;
        margin-left: 15px;
    }

    #but {
        text-align: center;
        margin-bottom: 20px;
    }

    #but a {
        background-color: #55aaff;
        color: #fff;
        font-size: 130%;
        font-family: Arial, Helvetica, sans-serif;
        padding: 12px 45px;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        border: 0;
        border-radius: 4px;
        transition: background-color .2s linear;
        -webkit-transition: background-color .2s linear;
        -moz-transition: background-color .2s linear;
    }

    #gp {
        color: #777;
        font-size: 80%;
        padding-top: 5px
    }